#!KAMAILIO

####### Parametros globales ########

debug=2
log_stderror=no
memdbg=5
memlog=5
fork=yes
children=4
auto_aliases=no
enable_tls=yes
tcp_connection_lifetime=3605

####### Direcciones del SBC ########

listen=udp:172.31.16.227:5060 advertise 34.205.152.40:5060
listen=tls:172.31.16.227:5061 advertise 34.205.152.40:5061
alias=34.205.152.40

####### Datos de la PBX ########

#!define PBX_IP "172.31.18.157"
#!define PBX_PORT "5060"

####### Modulos ########

loadmodule "tls.so"
loadmodule "sl.so"
loadmodule "tm.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "pv.so"
loadmodule "sanity.so"
loadmodule "rtpengine.so"

####### Parametros de modulos ########

modparam("tls", "config", "/etc/kamailio/tls.cfg")
modparam("rtpengine", "rtpengine_sock", "udp:127.0.0.1:22230")

####### Ruta principal ########

request_route {

    xlog("L_INFO", "SBC Clinica | Metodo=$rm | Origen=$si:$sp | RURI=$ru | From=$fu | To=$tu\n");

    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    if (!sanity_check("1511", "7")) {
        xlog("L_WARN", "SBC Clinica | Mensaje SIP malformado desde $si:$sp\n");
        exit;
    }

    if (is_method("OPTIONS")) {
        sl_send_reply("200", "OK");
        exit;
    }

    if (is_method("CANCEL")) {
        if (t_check_trans()) {
            route(RELAY);
        }
        exit;
    }

    if (is_method("BYE")) {
        rtpengine_delete();
        route(TO_PBX);
        exit;
    }

    if (loose_route()) {
        if (has_body("application/sdp")) {
            rtpengine_manage("replace-origin replace-session-connection ICE=remove");
        }
        route(RELAY);
        exit;
    }

    if (is_method("REGISTER")) {
        xlog("L_INFO", "SBC Clinica | Enrutando REGISTER hacia PBX 172.31.18.157\n");
        route(TO_PBX);
        exit;
    }

    if (is_method("INVITE")) {
        record_route();

        if (has_body("application/sdp")) {
            rtpengine_offer("replace-origin replace-session-connection ICE=remove");
        }

        t_on_reply("RESPUESTA_PBX");
        route(TO_PBX);
        exit;
    }

    if (is_method("ACK")) {
        route(TO_PBX);
        exit;
    }

    route(TO_PBX);
    exit;
}

####### Ruta hacia PBX ########

route[TO_PBX] {
    $du = "sip:" + PBX_IP + ":" + PBX_PORT;
    route(RELAY);
    exit;
}

####### Relay SIP ########

route[RELAY] {
    if (!t_relay()) {
        sl_reply_error();
    }
    exit;
}

####### Respuestas desde PBX ########

onreply_route[RESPUESTA_PBX] {
    xlog("L_INFO", "SBC Clinica | Respuesta desde PBX | Codigo=$rs | Reason=$rr | Origen=$si:$sp\n");

    if (has_body("application/sdp")) {
        rtpengine_answer("replace-origin replace-session-connection ICE=remove");
    }
}
